<% content_for :title do %>
  Edit Note
<% end %>

<% provide(:note_active, 'active') %>
<%= render 'shared/navbar' %>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-8 col-lg-8" style="margin-top: 15vh">
			<div class="card">
				<div class="card-header">
					<h2>
						<%= link_to notes_path do %>
              <i class="fas fa-arrow-left mr-2"></i>
            <% end %>
            Edit Note
					</h2>
				</div>
				<div class="card-body">
					<%= render 'form', note: @note %>
				</div>
			</div>
		</div>
	</div>
</div>