<div id="activity">
	<div class="card mb-2">
		<div class="card-body">
			<%= link_to root_path do %>
				<i class="fas fa-arrow-left link mr-3"></i>
			<% end %>

			<i class="fas fa-trash-alt mr-1"></i>

			<% if activity.trackable %>
					<span class="mr-1">Deleted a project</span>
					<strong><%= link_to activity.trackable.title, activity.trackable %></strong>
			<% else %>
					<span class="mr-1">Deleted a project</span>
					<span>which has since been removed</span>
			<% end %>
		</div>
	</div>
</div>