<% content_for :title do %>
  Submit Your Task
<% end %>

<% provide(:work_active, 'active') %>
<%= render 'shared/navbar' %>

<div class="project-new-cover"></div>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-10 col-lg-10" style="margin-top: 14vh">
			<div class="card">
				<div class="card-body">
					<h3 class="pb-1"><i class="fas fa-folder-plus"></i> Submit Your Task</h3>
					<%= render 'form', work: @work %>
				</div>
			</div>
		</div>
	</div>
</div>