@import "bootstrap";
@import "trix";

// Customizing Form-Control Class
.form-control{
	border-radius: 0;
}
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

// Bootstrap Fancy Alert
#notice_wrapper{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
	background: #f44336;
	.alert, .notice{
		padding: 1rem 0;
		text-align: center;
		margin: 0;
		font-size: 1rem;
		font-weight: 500;
		color: #FFFFFF;
		letter-spacing: 1px;
	}
}

// Particle JS
#particles-js{
    position: absolute;
    background: #263238;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
      index: 50;
      top: 100px;
      position: absolute;
    }
  }

// Customizing HTML abbr Tag to Display -> None
  abbr{
    display: none;
  }

.box-shadow{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

// All Projects Configs
#all-projects{
  .card{
    img{
      height: 280px;
    }
  }
}

// Hide The Grey Inactive Progress Bar Of Trix Editor File Upload
.attachment__progress{
  display: none;
}

// Hide The Attachment Icon On From Trix Editor
.trix-button-group.trix-button-group--file-tools{display: none;}

.fa-spinner, .fa-check-circle{ color: #00E676}

.jumbotron{ background-color: #546E7A !important}

.white-bordered{ border: 2px solid #fff}

// Link Customization
.link{
    text-decoration: none;
    color: #263238;
    opacity: 0.75;
}
.link:hover{
    text-decoration: none;
    color: #263238;
    opacity: 1;
}
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link{font-weight: 500;border-bottom: 2px solid #2962FF;}
.navbar.navbar-light .navbar-nav .nav-item>.nav-link{font-weight: 500;}

#navbarSupportedContent > ul.navbar-nav.mx-auto > li.nav-item{
  font-weight: 500;
}

#navbarSupportedContent > ul.navbar-nav.mx-auto > li.nav-item.active > a{
  font-weight: 500;
  border-bottom: 2px solid #2962FF;
}

// Dashboard Design
#dashboard{
  margin-top: 90px;
  hr{ background-color: #fff !important;}

  .card-1{
    background-image: linear-gradient(to right, #FE9365, #FEB697);
  }

  .card-2{
    background-image: linear-gradient(to right, #0AC282, #0DF3A3);
  }

  .card-3{
    background-image: linear-gradient(to right, #FE5E71, #FE8F9C);
  }

  .card-4{
    background-image: linear-gradient(to right, #01AAAD, #01DADE);
  }
}

// Font-Awesome Icon Color Setup
.fa-user{ color: #212121}
.fa-circle-notch{color: #ef5350;}
.fa-check-circle{color: #00E676;}
.fa-pause-circle{color: #3D5AFE;}
.fa-pencil-alt{color: #651FFF;}
.fa-minus-circle{color: #ef5350}
.fa-pencil-ruler{color: #3D5AFE;}
.fa-angle-left{color: #fff;}
.fa-arrow-left{color: #651FFF;}
.fa-trash-alt{color: #ef5350;}
.fa-underline{color: #3D5AFE;}